# Salesforce / SFDX / CCI
.cci
.sfdx
/src.orig
/src
.sf/

# Python
*.pyc
__pycache__

# Robot Framework results
robot/animal_shelter_starter/results/

# Editors
*.sublime-project
*.sublime-workspace
.vscode
.idea
.project
.settings

# Misc
.DS_Store

test_results.*
